/*
    j'ai utilisé display grid pour mieux gérer les blocs et les mettres côte à côte mais 
    j'aurais pu aussi utilisé display flex
*/

/*style de user container*/
.user{
    background-color: var(--primary-color);
    margin: 0;
    padding-bottom: 2rem;
}

/*style du titre*/
.title{
    font-size: 3rem;
    text-transform: uppercase;
    color: rgba(236, 179, 101, 0.6);
    padding: 6rem 0 3rem 0;
    text-align: center;
    margin: 0;
    font-weight: 700;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

/*style du liste
    j'ai utilisé grid pour mettre côte à côte les block
    grid-template-columns : pour mettre les colonnes ,et choisir la taille de chaques colonnes et nombre de colonnes
*/
.List-Users{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*
    pour centrer facilement un block avec flex
*/ 
.titleId{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--color-white);
    font-weight: 700;
}

.liste{
    color: var(--color-white);
}


/*delete-button style , même que celui du add mais juste la couleur qui vas changer*/
.delete-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--secondary-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.delete-button:before {
    content: '';
    background: linear-gradient(45deg, var(--color-white), var(--secondary-color));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.delete-button:active {
    color: var(--secondary-color)
}

.delete-button:active:after {
    background: transparent;
}

.delete-button:hover:before {
    opacity: 1;
}

.delete-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*centrer le boutton delete*/

.buttonDelete{
    display: flex;
    align-items: center;
    justify-content: center;
}

/********************************************************/
/*======================RESPONSIVE PHONE================*/
/********************************************************/
/*les paramètres vont s'appliquer au écran max 600px*/
@media screen and (max-width: 600px) {
    .List-Users{
        grid-template-columns: 1fr;
    }
}


/********************************************************/
/*======================RESPONSIVE IPAD,TABLETTE,....================*/
/********************************************************/
/*les paramètres vont s'appliquer au écran max 1024px*/
@media screen and (max-width: 1024px) {
    .List-Users{
        padding: 1rem;
    }
}