/*
  ici on a séléctionné le container de la navigation (navigation)
  puis on l'as mis en position fixed pour qu'on l'a partout
  left, top, transform pour la centrer au centre
  height, width pour gérer la taille
  flex pour centrer les contenus au centre avec align items (verticalement) justify (horizontalement)  
*/

.navigation{
  background-color: var(--color-white);
  position: fixed;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  height: 60px;
  line-height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
  border-radius: 15px;
  z-index: 3;
}



/*Pour mettre les contenus côte à côte et mettre des espacement*/
.navigation-content{
  display: flex;
  gap: 3rem;
}



/*modifier la taille, couleur, mettre de la transition, et des espacement*/
.icone{
  padding: 0 1rem;
  font-size: 2rem;
  color: #252525;
  transition: 0.5s ease;
  display: inline-block;
}



/*le style des icones quand on scroll vers le bas*/
.icone-scroll{
  padding: 0 1rem;
  transition: 0.5s ease;
  color: #252525;
  font-size: 1rem;
}



/*style, quand on hover avec la souris l'icone, le style vas changer comme je l'ai demander de faire*/
.icone-scroll:hover{
  transition: 0.5s ease;

  color: var(--secondary-color);
}



.icone:hover{
  transition: 0.5s ease;
  color: var(--secondary-color);
}
