.add-user{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.add-user h3{
    color: var(--color-white);
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--primary-color);
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input,button {
    border: none;
    width: 250px;
    height: 50px;
}

form button{
    background-color: var(--primary-color);
    color: var(--color-white);
}

form button:hover{
    background-color: var(--color-white);
    color: var(--primary-color);
}