/*
    j'ai centrer le block avec flex 
    et je l'ai donné une hauteur de 100vh pour remplir l'écran
*/
.add-user{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

/*
style du titre ADD USER
j'ai centré le text sur le centre avec text-align center
*/
.add-user h3{
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
}

.add-user p{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 2rem;
}

h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
}

/*
style du formulaire
flex : pour mettre côte à côte en ligne les champs
puis je centre le formulaire sur le centre avec justify-content center (horizontal)
vertical alignement du formulaire sur le centre avec align-items center (vertical)
*/
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

form button{
    background-color: var(--primary-color);
    color: var(--color-white);
    font-size: 1rem;
    transition: ease-in-out 0.2s;
}

/*
hover (quand la souris passe au dessus du boutton du coup ces paramètres sont appliqués)
*/
button:hover{
    background-color: var(--color-white);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

input {
    border: none;
    width: 250px;
    height: 50px;
}

/********************************************************/
/*======================RESPONSIVE PHONE================*/
/********************************************************/
/*les paramètres vont s'appliquer au écran max 600px*/
@media screen and (max-width: 600px) {
    form{
        flex-direction: column;
    }
}



/********************************************************/
/*==RESPONSIVE MEDIUM/IPAD/TABLETTE ... ================*/
/********************************************************/
@media screen and (max-width: 1024px) {
    form{
        flex-direction: column;
    }
}

