/*
    j'ai centrer le block avec flex 
    et je l'ai donné une hauteur de 100vh pour remplir l'écran
*/
.add-user{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

/*
style du titre ADD USER
j'ai centré le text sur le centre avec text-align center
*/
.add-user h3{
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.instructions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 5rem 5rem;
}

/*juste rajouter de l'ombre aussi pour le bloc avec box-shadow et choisir sa taille*/
.instructions{
    width: 400px;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(8, 32, 50, 0.6);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.add-user p{
    text-align: center;
    font-size: 1rem;
    margin: 0;
    text-align: justify;
}

.text-rouge{
    display: block;
    font-weight: 800;
    font-size: 1rem;
}

/*
    modification du style de notre type text
    j'ai ajouté de l'ombre au texte
*/
h5{ 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: white;
    padding: 1rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

/*
style du formulaire
flex : pour mettre côte à côte en ligne les champs
puis je centre le formulaire sur le centre avec justify-content center (horizontal)
vertical alignement du formulaire sur le centre avec align-items center (vertical)
*/
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/*Animation button du form*/
.add-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.add-button:before {
    content: '';
    background: linear-gradient(45deg, var(--color-white), var(--primary-color));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.add-button:active {
    color: var(--primary-color)
}

.add-button:active:after {
    background: transparent;
}

.add-button:hover:before {
    opacity: 1;
}

.add-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*style des input*/

input {
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 10px;
}

/********************************************************/
/*======================RESPONSIVE PHONE================*/
/********************************************************/
/*les paramètres vont s'appliquer au écran max 600px*/
@media screen and (max-width: 600px) {
    .add-user h3{
        margin: 1rem 0;
    }
    .instructions{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    form{
        margin: 2rem;
        flex-direction: column;
    }
}



/********************************************************/
/*==RESPONSIVE MEDIUM/IPAD/TABLETTE ... ================*/
/********************************************************/
@media screen and (max-width: 1024px) {
    .add-user h3{
        margin: 1rem 0;
    }

    form{
        flex-direction: column;
    }
}

