/*
    j'ai choisi l'hauteur pour remplir l'écran (min-height pour que le block ne descend en dessous du valeur donné)
    puis j'ai centré avec flex , justify-content et align-items.
*/

header{
    text-align: center;
    padding: 3rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

h1{
    color: var(--secondary-color);
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 4rem;
}

p{
    color: var(--color-white);
    padding: 1rem;
    font-size: 1rem;
}

/********************************************************/
/*======================RESPONSIVE PHONE================*/
/********************************************************/
/*les paramètres vont s'appliquer au écran max 600px*/

@media screen and (max-width: 600px) {
    h1{
        font-size: 2rem;
    }
}


/********************************************************/
/*==RESPONSIVE MEDIUM/IPAD/TABLETTE ... ================*/
/********************************************************/
