@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color: #082032;
    --secondary-color: #ECB365;
    --color-white: #fff;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


